body {
	margin-block: 30px;
	text-align: center;
	background-color: #b8c2b8;
}
.container {
	justify-content: center;
	padding-top: 50px;
}
label {
	font-size: 20px;
	font-weight: bolder;
	
}
input {
	background-color: black;
	color: #fff;
	width: 130px;
	height: 30px;
	border: none;
	border-radius: 20px;
	text-align: center;
	font-size: 18px;
	font-weight: bolder;
	padding: 1px 15px;
}
input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            	-webkit-appearance: none;
            	margin: 0;
        }
input[type="number"] {
    caret-color: #fff;
    caret-width: 5px; 
}
input[type="number"]::placeholder {
	color: #555;
	font-size: 14px;
}
button {
	background:  linear-gradient(339deg, rgba(100,106,100,1) 34%, rgba(58,93,58,1) 66%);
	border: none;
	border-radius: 15px;
	font-size: 18px;
	font-weight: bold;
	padding: 5px 20px;
	cursor: pointer;
}
p {
	color: #646a64;
	margin-top: 20px;
}
h3 {
	font-size: 25px;
	font-weight: bold;
	margin-top: 15px;
}